.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  box-sizing: border-box;
}

.header {
  background-color: #ffffff;
  background-image: url("/images/background_header.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 30px 80px 40px;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  left: -50px;
  width: 105px;
  height: 39px;
}

.nav__links {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 20px;
  list-style-type: none;
}

.nav__link {
  text-decoration: none;
  color: black;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.header__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  max-width: 729px;
  margin: 183px 0 0;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f90ed;
}

.header__description {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 30px;
  max-width: 683px;
  font-size: 20px;
  line-height: 30px;
  margin: 28px 0 0;
}
.header__image {
  position: absolute;
  height: 568px;
  width: 646px;
  top: 124px;
  right: 5px;
}

.header__footer {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin: auto 0 40px;
  color: #838383;
  display: flex;
  justify-content: space-between;
}

.header__paragraph {
  margin: 0;
  align-self: flex-end;
}

.recipes {
  background-color: #0a2750;
  background-image: url("/images/background_recipes.svg");
  background-position: center;
  background-size: cover;
  padding: 100px 80px 215px;
  display: flex;
  flex-direction: column;
}

.recipes__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
  margin: 0;
  max-width: 580px;
}

.recipes__subtitle {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  max-width: 438px;
  margin: 0;
  padding: 24px 0 80px;
}

.recipes__videos {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.recipes__iframe {
  display: flex;
  height: 273px;
  width: 480px;
}

.recipes__videos-caption {
  margin: 24px 0 0;
  display: flex;
  justify-content: space-between;
}

.reservation {
  background-image: url("/images/background_reservation.svg");
  background-color: #d9e8ff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 0 120px;
}

.reservation__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0 0 80px;
  text-align: center;
}

.reservation__form {
  margin: 0 auto;
  max-width: 385px;
  border: none;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border: none;
}

.form__label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: flex;
  display: block;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.form__input {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  display: block;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  margin: 8px 0 32px;
  max-width: 385px;
  height: 60px;
  border: 1px solid #2f80ed;
  border-radius: 4px;
  text-indent: 4px;
}

.form__button {
  background-color: #2f80ed;
  color: white;
  width: 100%;
  height: 60px;
  padding: 0;
  margin: 0 0 32px;
  border: 1px solid #2f80ed;
  border-radius: 2px;
}

.form__button:hover {
  opacity: 70%;
}

.form__checkbox {
  height: 20px;
  width: 20px;
  border: 1px solid #2f80ed;
  border-radius: 2px;
}
